<% const pathUpload="/backend/adminlte/images/slider/" ; %>
    <section>

        <section id="slider" style="background: rgba(0,0,0,0.5);">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                        <% for(let i=1; i < itemsSlider.length; i++) { %>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= i %>"
                        aria-label="Slide <%= i %>"></button>
                            <% } %>
                    
                </div>
                <div class="carousel-inner layer-gray">

                    <div class="carousel-item active">

                        <img src="<%= pathUpload + itemsSlider[0].thumb %>" class="d-block w-100" alt="...">
                        <div class="carousel-caption  d-none d-md-block">
                            <div class="carousel-caption-border d-inline-block ">
                                <h5>THIẾT KẾ CHUẨN DOANH NGHIỆP</h5>
                                <h2 style="width:60%"><%= itemsSlider[0].title %></h2>
                                <h4><%= itemsSlider[0].description %></h4>
                                <a href="/lien-he"><button type="button" class="btn btn-primary rounded-0" >Liên hệ</button></a>
                            </div>
                        </div>
                        <div class="carousel-border"></div>

                    </div>

                    <% for(let i=1; i < itemsSlider.length; i++) { %>
                        <div class="carousel-item">

                            <img src="<%= pathUpload + itemsSlider[i].thumb %>" class="d-block w-100" alt="...">
                            <div class="carousel-caption  d-none d-md-block">
                                <div class="carousel-caption-border d-inline-block ">
                                    <h5>THIẾT KẾ CHUẨN DOANH NGHIỆP</h5>
                                    <h2 style="width:60%"><%= itemsSlider[i].title %></h2>
                                    <h4><%= itemsSlider[i].description %></h4>
                                    <a href="/lien-he"><button type="button" class="btn btn-primary rounded-0">Liên hệ</button></a>
                                </div>
                            </div>
                            <div class="carousel-border"></div>

                        </div>
                        <% } %>


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                        class="visually-hidden">Previous</span> </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span
                        class="visually-hidden">Next</span> </button>
            </div>
        </section>

    </section>