<header>
    
    <!-- Header Start -->
    
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container"> <a href="/" class="navbar-brand"><img src="/frontend/assets/img/logo/LOGO (4).png" style="max-height:60px"></a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu"> <i class="navbar-toggler-icon"></i> </button>
          <div class="navbar-collapse collapse" id="menu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item"> <a href="/" class="nav-link">Trang chủ</a> </li>
              <li class="nav-item"> <a href="/gioi-thieu" class="nav-link">Giới thiệu</a> </li>
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Bảng giá</a> 
                    <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">Nhận diện thương hiệu</a>
                        <a href="#" class="dropdown-item">Thiết kế Logo</a>
                      <a href="#" class="dropdown-item">Thiết kế Brochure </a>
                      <a href="#" class="dropdown-item">thiết kế Catalogue</a>
                      <!--<div class="dropdown-divider"></div>-->
                      <a href="#" class="dropdown-item">Thiết kế Profile </a>
                      <a href="#" class="dropdown-item">Thiết kế Landing Page</a>
                      <a href="#" class="dropdown-item">Thiết kế Bao Bì Sản Phẩm</a>
                      <a href="#" class="dropdown-item">Thiết kế hình ảnh quảng cáo</a>
                      <a href="#" class="dropdown-item">Thiết kế hình ảnh theo tháng</a>
                      
                  
                
                </div>
                </li><!--end dropdown-->
               <li class="dropdown nav-item">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                  Dịch vụ</a>
                  <div class="dropdown-menu mega-menu">
                   <div class="row">
                      <div class="col-md-6 col-lg-3">
                        <% for(let i=0; i < 4; i++) { %>
                          <a href="/dich-vu/<%= itemsService[i].id %>" class="dropdown-item"><%= itemsService[i].title %></a>
                          <% } %>
                       <!--<h5 class="dropdown-header">Miền Bắc</h5>-->
                          
                       
                       </div><!--hết cot 1-->
                          <div class="col-md-6 col-lg-3">
                       <!--<h5 class="dropdown-header">Miền Nam</h5>-->
                       <% for(let i=4; i < 8; i++) { %>
                        <a href="/dich-vu/<%= itemsService[i].id %>" class="dropdown-item"><%= itemsService[i].title %></a>
                        <% } %>
                       
                       </div><!--hết cot 1-->
                           <div class="col-md-6 col-lg-3">
                       <!--<h5 class="dropdown-header">Miền Trung</h5>-->
                       <% for(let i=8; i < itemsService.length; i++) { %>
                        <a href="/dich-vu/<%= itemsService[i].id %>" class="dropdown-item"><%= itemsService[i].title %></a>
                        <% } %>
                       
                       </div><!--hết cot 1-->
                       <div class="col-md-6 col-lg-3">
                           <img src="/frontend/assets/img/logo/sumang.jpg" class="img-fluid">
                      </div><!--hết cot 1-->
                      </div>
                   </div> 
                </li> <!--end dropdown-->
              <li class="nav-item"> <a href="/du-an" class="nav-link">Dự án</a> </li>
              <li class="nav-item"> <a href="/tin-tuc" class="nav-link">Tin tức</a> </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tin tức</a> 
                  <div class="dropdown-menu">
                    <% itemsCategory.forEach((category) => { %>
                        <a href="/category/<%= category.id %>" class="dropdown-item"><%= category.name %></a>
                        <% })%>
                    
                   
              </div>
              </li><!--end dropdown-->
              <li class="nav-item"> <a href="/lien-he" class="nav-link">Liên hệ</a> </li>
            </ul>
            <div class="navbar-text d-flex"> <span class="material-symbols-outlined text-primary">phone_enabled</span> +048999653566 </div>
          </div>
        </div>
      </nav>
        <!-- Header End -->
</header>