<% const pathUpload="/backend/adminlte/images/service/"  %>
<section id="dichvu">
    <div class="section-tittle">
        <div class="container text-center">
            <div class="border-tittle"></div>
            <h3>DỊCH VỤ</h3>
            <h2>Chuyên nghiệp, nhân văn</h2>
        </div>
    </div>
    
    <div class="service">
        <div class="container">
            <div class="row ">
                <% itemsService.forEach((item)=>{ %>
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="service-item">
                        <img src="<%= pathUpload + item.thumb %> " class="w-100 ">
                        <div class="service-item-content">
                            <div class="service-item-symbol align-items-center d-flex justify-content-center">
                                <img src="frontend/assets/img/services/symbol.png" alt="" class="w-80"></div>
                            <h5 class="my-3"><a href="/dich-vu/<%= item.id %>"><%= item.title %></a></h5>

                            <p><%= item.description %></p>
                            <p><a href="/dich-vu/<%= item.id %>">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
                <% })%>
                
            </div>
        </div>
    </div>
</section>